@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-thin.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: roboto;
}

#load-images {
    display: none;
}