/* @media screen and (max-width: 960px){

    #main-section{
        height: 100% !important;
    }


#left-section {
    position: absolute;
    width: 50% !important;
    height: 100%;
    display: none !important;
}

#right-section{
    width: 100% !important;
    height: 100% !important;
    grid-template-columns: auto !important;
}

.article-section{
    width: 100% !important;
    
}

#section-0{
    grid-column-start: 1 !important;
    grid-column-end: 1 !important;
    grid-row-start: 1 !important;
    grid-row-end: 1 !important;
}

} */





body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
#load-images{
    display: none;
}











