.article-section {
    display: flex;
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;
}

.article-section:hover > .section-footer {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    visibility: visible;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: -3s;
}

.article-section:hover > .section-footer p {
    visibility: visible;
}

.article-section:hover > .section-footer button {
    visibility: visible;
    border: none;
    cursor: pointer; 
}

@keyframes slide {
    0%{
        height: 20%;
      }
    75%{
        height: 20%;
      }
    100%{
        height: 100%;
      }
}

.section-footer{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.read-more{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    background: linear-gradient(to top, rgb(42, 42, 42), transparent);
    visibility: hidden;
    color: white;
    font-size: 3vw;
    border: none;
    cursor: pointer;
    outline: none;
}

.h2-city-name-header{
    position: absolute;
    padding: 0;
    margin: 0;
    top:0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: transparent;
}

.description-text {
    position: absolute;
    top:20%;
    height: 80%;
    margin: 0;
    padding: 0 10%;
    visibility: hidden;
    overflow: hidden;
    text-align: justify;
}

#section-0{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#section-0M{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#right-section::-webkit-scrollbar {
    width: 1%;
}

#right-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(42, 42, 42);
    background-color: rgb(100, 100, 100);
}
 
#right-section::-webkit-scrollbar-thumb {
  background-color: rgb(42, 42, 42);
  border-radius: 50px;
}