/* @media screen and (max-width: 960px){

    #main-section{
        height: 100% !important;
    }


#left-section {
    position: absolute;
    width: 50% !important;
    height: 100%;
    display: none !important;
}

#right-section{
    width: 100% !important;
    height: 100% !important;
    grid-template-columns: auto !important;
}

.article-section{
    width: 100% !important;
    
}

#section-0{
    grid-column-start: 1 !important;
    grid-column-end: 1 !important;
    grid-row-start: 1 !important;
    grid-row-end: 1 !important;
}

} */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.h2-city-name-header{
    position: absolute;
    padding: 0;
    margin: 0;
    top:0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}

.description-text {
    position: absolute;
    top:20%;
    height: 80%;
    margin: 0;
    padding: 0 10%;
    display: none;
    overflow: hidden;
    text-align: justify;
}

#main-section{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    overflow: none;
    background-color: white;
}

#left-section{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: rgb(30, 100, 200);
}
#logo-article{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: transparent;
}

#season-section{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
}

.link-season{
    padding-left: 10%;
    color: white;
    width: 100%;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.link-season:hover{
background-color: rgb(15, 50, 200);
}

#language{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(15, 50, 200);
    overflow-y: auto;
    visibility: hidden;
}

#open-close-language{
    width: 100%;
    height: 10%;
    bottom: 0;
    color: white;
    background-color: rgb(15, 50, 200);
    border: none;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    outline:none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}

#p-language{
    padding: 0;
    margin: 0;
    padding-left: 10%;
}

#p-button-open-close{
    padding: 0;
    margin: 0;
    right: 0;
    position: absolute;
}

.list-of-language{
    width: 100%;
    height: 16%;
    position: relative;
    padding-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: white; 
}

.list-of-language:hover{
    background-color: rgb(30, 100, 200);
}

#right-section{
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
    padding: 3px;
}

.article-section {
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;

}

.article-section:hover > .section-footer {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    visibility: visible;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: -3s;
}

.article-section:hover > .section-footer p {
    display: block;
}

.article-section:hover > .section-footer button {
    display: block;
    border: none;
    cursor: pointer; 
}

@keyframes slide {
    0%{
        height: 20%;
      }
    75%{
        height: 20%;
      }
    100%{
        height: 100%;
      }
}

.section-footer{
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.read-more{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    background: linear-gradient(to top, rgb(42, 42, 42), transparent);
    display: none;
    color: white;
    font-size: 3vw;
    border: none;
    cursor: pointer;
    outline: none;
}

#section-0{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#right-section::-webkit-scrollbar {
    width: 1%;
}

#right-section::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(42, 42, 42);
    background-color: rgb(100, 100, 100);
}
 
#right-section::-webkit-scrollbar-thumb {
  background-color: rgb(42, 42, 42);
  border-radius: 50px;
}

#language::-webkit-scrollbar {
    width: 3%;
}
 
#language::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(15, 50, 200);
    background-color: rgb(30, 100, 200);
}
 
#language::-webkit-scrollbar-thumb {
  background-color: rgb(15, 50, 200);
  border-radius: 50px;
}




