body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
}
#tablePriceSpring{
    background-color: forestgreen;
}
#tablePriceSummer{
    background-color: yellow;
}
#tablePriceAutumn{
    background-color: burlywood;
}
#tablePriceWinter{
    background-color: white;
}
table{
    color:black;
    width:60%;
    text-align: center;
}
td{
    text-align: center;
    width: 50%;
}
tr{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, tr, td{
    border: 1px solid black;
}
#fullScreenShow{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:  rgb(142, 142, 142);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
    overflow: auto;

}
#imageFullScreen{
   
    top: 20%;
    width: 60%;
    padding: 0;
    margin: 0;
    pointer-events: none;
    padding: 0 5%;

}
#h1FullScreenShow{
    padding: 0;
    margin: 0;
    top:0;
    width: 60%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#pFullScreen{
    padding: 0;
    margin: 0;
    top:0;
    padding: 0 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    text-align: justify;
   
}

#fullScreenBackButton{
    width: 10%;
    height: 20%;
    color: white;
    background-color: rgb(100, 100, 100);
    border: none;
    cursor: pointer;
    position: absolute;
    outline:none;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
}

.h2cityNameHeader{
    position: absolute;
    padding: 0;
    margin: 0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
}
p.descriptionText {
    position: absolute;
    top:20%;
    height: 80%;
    margin: 0;
    padding: 0 5%;;
    display: none;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    background-color: transparent;
}

#mainSection{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    overflow: none;
    background-color: white;
}

#leftSection{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: blue;
}
#logoArticle{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: transparent;
}

#seasonSection{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
}

.linkSeason{
    padding-left: 10%;
    color: white;
    width: 100%;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.linkSeason:hover{
background-color: darkblue;
}

#language{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    background-color: transparent;
    overflow-y: auto;
    visibility: hidden;
}

#openCloseLanguage{
    width: 100%;
    height: 10%;
    bottom: 0;
    color: white;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    outline:none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}
#pLanguage{
    padding: 0;
    margin: 0;
    padding-left: 10%;
}
#pButtonOpenClose{
    padding: 0;
    margin: 0;
    right: 0;
    position: absolute;
}

.listOfLanguage{
    width: 100%;
    height: 16%;
    background-color: transparent;
    position: relative;
    padding-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: white;
    
}
.listOfLanguage:hover{
    background-color: darkblue;
}

#rightSection{
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
    padding: 3px;
}

.articleSection {
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;

}

.articleSection:hover > .sectionFooter {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    visibility: visible;
    animation-name: slide;
    animation-duration: 4s;
    animation-delay: -3s;
}

.articleSection:hover > .sectionFooter p {

    display: block;
}

.articleSection:hover > .sectionFooter button {

    display: block;
    border: none;
    cursor: pointer;
   
}

@keyframes slide {

    0%{
        height: 20%;
      }
    75%{
        height: 20%;
      }
    100%{

        height: 100%;
      }
}

.sectionFooter{
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
    opacity: 0.8;
    background-color: rgb(42, 42, 42);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.readMore{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    background: linear-gradient(to top, rgb(42, 42, 42), transparent);
    display: none;
    color: white;
    font-size: 3vw;
    border: none;
    cursor: pointer;
}

#section0{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}



#rightSection::-webkit-scrollbar {
    width: 10px;
}
 
#rightSection::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(42, 42, 42);
    background-color: white;
}
 
#rightSection::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 50px;
}



#language::-webkit-scrollbar {
    width: 10px;
}
 
#language::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px darkblue;
    background-color: blue;
}
 
#language::-webkit-scrollbar-thumb {
  background-color: darkblue;
  border-radius: 50px;
}



#fullScreenShow::-webkit-scrollbar {
    width: 10px;
}
 
#fullScreenShow::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(42, 42, 42);
    background-color: white;
}
 
#fullScreenShow::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 50px;
}


