#main-section{
    display: block;
    height: 100% !important;
    width: 80% !important;
  
    text-align: center !important;
}
#image-full-screen{
    width: 100% !important;
}

#h1-full-screen-show{
    text-align: center !important;
    width: auto !important;
    height: auto !important;
 
}

#p-full-screen{ 
    width: 100% !important;
    
}
#table-div{
    width: 100% !important; 
     
}

table, td, th {
    font-size: 2.5vw !important;
}

#p-full-screen{
    font-size: 2.5vw !important;
}

