#table-div{
    width: 60%; 
}

table, td, th {
    border: 1px solid black;
    pointer-events: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

td{
    width: 200px;
    text-align: center;
}

.h1-table-price{
    padding: 0;
    margin: 0;
    top:0;
    text-align: center;
    width: 100%;
    background-color: transparent;
    text-transform: uppercase;
    pointer-events: none;
}