#left-section {
    position: relative;
    width: 20%;
    height: 100%;
    background-color: rgb(30, 100, 200);
}
#left-section.expand{
    position: absolute;
    width: 100%;

}

#show-bar-button {
    margin: 0;
    padding: 0;
    width: 100%;
    visibility: hidden;
    text-align: center;
    border: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    outline: none;
    background: transparent;
}

#show-bar-button p {
    margin: 0;
    padding: 0;
    color: white;
    float: left;
}

#logo-article {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: transparent;
    top: 0;
    right: 0;
}

#season-section {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 30%;
    background-color: transparent;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.link-season {
    color: white;
    width: 100%;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: inline-flex;
}

.icons {
    width: 15%;
    position: relative;
    text-align: center;
}

.mobileIcons {
    width: 100%;
    position: relative;
    text-align: center;
}

.season-name {
    margin: 0;
    padding: 0;
    width: 85%;
    position: relative;
}

.season-name::first-letter {
    text-transform: capitalize;
}

.season-name.mobile {
    visibility: hidden;
}

.link-season:hover {
    background-color: rgb(15, 50, 200);
}

#language {
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(15, 50, 200);
    overflow-y: auto;
    visibility: hidden;
    overflow-x: hidden;
}

#open-close-language {
    width: 100%;
    height: 10%;
    bottom: 0;
    color: white;
    background-color: rgb(15, 50, 200);
    border: none;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
    outline: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}

#p-language {
    padding: 0;
    margin: 0;
    padding-left: 10%;
}

#p-symbol {
    padding: 0;
    margin: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
}

.list-of-language {
    width: 100%;
    height: 16%;
    position: relative;
    padding-left: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    color: white;
}

.list-of-language:hover {
    background-color: rgb(30, 100, 200);
}

#language::-webkit-scrollbar {
    width: 1%;
}

#language::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(15, 50, 200);
    background-color: rgb(30, 100, 200);
}

#language::-webkit-scrollbar-thumb {
    background-color: rgb(15, 50, 200);
    border-radius: 50px;
}